
  <style>
    @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
  </style>



  <div class="colored-box black-background">
    <h1 class="titleVagas">
      As melhores<br /><span class="blue-text">vagas</span> de emprego<br />para
      <span class="blue-text">você</span>
    </h1>
    <img
      src="/assets/BonecoNoPC.png"
      alt="Boneco de camisa azul mexendo no computador"
      class="imgBoneco"
    />
  </div>

  <div class="colored-box white-background">
    <div class="border-box">
      <h5 id="titleEmpresas">Empresas que confiam em nós</h5>
      <div class="image-container">
        <img src="/assets/adobe.png" alt="" width="133px" height="58px" />
        <img src="/assets/PayPal.png" alt="" width="133px" height="30px" />
        <img src="/assets/fiap.png" alt="" width="133px" height="45px" />
        <img src="/assets/amazon.png" alt="" width="133px" height="45px" />
        <img src="/assets/google.png" alt="" width="133px" height="90px" />
        <img src="/assets/microsoft.png" alt="" width="133px" height="58px" />
      </div>
    </div>
  </div>
  <div class="colored-box blacktwo-background">
    <h1 class="titleVagasCard">Escolha a vaga por categoria!</h1>
    <div class="cards-container">
      <div class="card">
        <img
          class="imgCard"
          src="/assets/desenhoUI.svg"
          alt=""
          width="65px"
          height="58px"
        />
        <p><b>UI/UX Designer</b></p>
        <p><i>100+ vagas disponíveis</i></p>
      </div>
      <div class="card">
        <img
          class="imgCard"
          src="/assets/desenhoDev.svg"
          alt=""
          width="65px"
          height="58px"
        />
        <p><b>Desenvolvedor</b></p>
        <p><i>80+ vagas disponíveis</i></p>
      </div>
      <div class="card">
        <img
          class="imgCard"
          src="/assets/desenhoDados.svg"
          alt=""
          width="65px"
          height="58px"
        />
        <p><b>Cientista de Dados</b></p>
        <p><i>120+ vagas disponíveis</i></p>
      </div>
    </div>
    <div>
      <button class="btnCostum" type="button">Ver todas as vagas</button>
    </div>
  </div>

  <div class="colored-box gray-background">
    <div class="cardsClient-container">
      <div class="cardClient">
        <img src="/assets/fiveStars.webp" alt="" width="120px" height="70px" />
        <h6 class="cardTextClientThre">
          "Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque cumque
          nemo eveniet ipsum omnis minima facere. Soluta, animi magni molestiae
          maxime voluptates ea rerum
        </h6>
        <img
          class="imgCardClient"
          src="/assets/elonicon.webp"
          alt=""
          width="65px"
          height="58px"/>
          <h6 class="cardTextClient"><b>Elon Musk</b></h6>
          <h6 class="cardTextClient"><i> Empresario </i></h6>
      </div>
      <div class="cardClient">
        <img src="/assets/fiveStars.webp" alt="" width="120px" height="70px" />
        <h6 class="cardTextClientThre">
          "Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque cumque
          nemo eveniet ipsum omnis minima facere. Soluta, animi magni molestiae
          maxime voluptates ea rerum
        </h6>
        <img
          class="imgCardClient"
          src="/assets/elonicon.webp"
          alt=""
          width="65px"
          height="58px"/>
        <h6 class="cardTextClient"><b>Elon Musk</b></h6>
        <h6 class="cardTextClient"><i> Empresario </i></h6>
      </div>
      <div class="cardClient">
        <img src="/assets/fiveStars.webp" alt="" width="120px" height="70px" />
        <h6 class="cardTextClientThre">
          "Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque cumque
          nemo eveniet ipsum omnis minima facere. Soluta, animi magni molestiae
          maxime voluptates ea rerum
        </h6>
        <img
          class="imgCardClient"
          src="/assets/elonicon.webp"
          alt=""
          width="65px"
          height="58px"/>
          <h6 class="cardTextClient"><b>Elon Musk</b></h6>
        <h6 class="cardTextClient"><i> Empresario </i></h6>
      </div>
    </div>
  </div>

